In [1]:
def add():
  print("addition")
add()

addition

In [4]:
def add(a,b):
  print("addition",a+b)
add("data",str(20))

addition data20

In [5]:
def function1(a,b):
  return a+b
  print("test")

In [6]:
x=function1(10,20)
x

30

In [7]:
def function1(a,b):
  print(a+b)

In [8]:
x=function1(10,20)
x

30

In [9]:
def even_or_odd(x):
  if x%2==1:
    return "Even"
  else:
    return "Odd"

In [10]:
even_or_odd(10)

'Odd'

In [11]:
def factorial(n):
    result = 1
    for i in range(2, n+1):
        result *= i
    return result
factorial(5)

120

In [12]:
def x(a, b, c):
    if a >= b and a >= c:
        return a
    elif b >= a and b >= c:
        return b
    else:
        return c

In [13]:
x(10,20,30)

30

In [14]:
def triangle_type(a, b, c):
    if a == b == c:
        return "Equilateral"
    elif a == b or b == c or a == c:
        return "Isosceles"
    else:
        return "Scalene"
triangle_type(10,20,20)

'Isosceles'

In [15]:
def password_strength(pw):
    if len(pw) < 6:
        return "Weak"
    elif len(pw) < 10:
        return "Moderate"
    else:
        return "Strong"
password_strength("test")

'Weak'

In [16]:
def f1(x):
  def f2():
    return "Function 2"
  def f3():
    return "Function 3"
  if x==2:
    return f2()
  else:
    return f3()

In [17]:
f1(10)

'Function 3'

In [18]:
def add_and_square(a, b):
    def square(n):
        return n * n
    result = a + b
    return square(result)
add_and_square(10,20)

900

In [19]:
def x(n):
    def y(num):
        result = 1
        for i in range(2, num+1):
            result *= i
        return result
    return y(n)
x(5)

120

In [20]:
def fibonacci(n):
    def generate():
        a, b = 0, 1
        for _ in range(n):
            yield a
            a, b = b, a + b
    return list(generate())

In [21]:
fibonacci(10)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [22]:
"madam"[::-1]

'madam'

In [23]:
def is_palindrom(x):
  return x==x[::-1]

In [24]:
is_palindrom('book')

False

In [25]:
def function1(a,b):
  return a+b
function1(10,20)

30

In [26]:
import numpy as np
x=lambda x,y:np.sqrt(x**2+y**2)
x(2,4)

np.float64(4.47213595499958)

In [27]:
is_even = lambda x: x % 2 == 0
x=print(is_even(10))

True

In [28]:
x=lambda a, b: a if a > b else b
x(10,20)

20

In [29]:
x=lambda lst: [x ** 2 for x in lst]
x([1,2,3,4])

[1, 4, 9, 16]

In [30]:
x=lambda x: x ** 0.5
x(16)

4.0

In [31]:
def f1(x):
  return (x**2)
for i in range(1,10):
  f1(i)

In [32]:
list(map(f1,range(1,10)))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [33]:
list(map(lambda x:x**2,range(1,10)))

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [34]:
list(map(lambda x:x.upper(),"data"))

['D', 'A', 'T', 'A']