In [ ]:
n = 5
for i in range(1, n+1):
    print(" " * (n - i) + "*" * (2*i - 1))

    *
   ***
  *****
 *******
*********

In [ ]:
n = 5
for i in range(5, 0, -1):
    print(" " * (n - i) + "*" * (2*i - 1))

*********
 *******
  *****
   ***
    *

In [ ]:
num = 0
for i in range(1, 6):
    for j in range(i):
        print(num, end=" ")
        num += 1
    print()

0
1 2
3 4 5
6 7 8 9
10 11 12 13 14

In [ ]:
for i in range(1, 6):
    for j in range(1, 6):
        print(j, end=" ")
    print()

1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5
1 2 3 4 5

In [ ]:
num = 15
for i in range(5, 0, -1):
    for j in range(i):
        print(num, end=" ")
        num -= 1
    print()

15 14 13 12 11
10 9 8 7
6 5 4
3 2
1

In [ ]:
for i in range(5):
    for j in range(i + 1):
        print(chr(65 + j), end=" ")
    print()

A
A B
A B C
A B C D
A B C D E