In [2]:
class Car:
    def __init__(self):
        self.brand = "Suzuki"

c = Car()
print(c.brand)

Suzuki

In [3]:
class Laptop:
    def __init__(self):
        self.ram = "16GB"

l = Laptop()
print(l.ram)

16GB

In [4]:
class Employee:
    def __init__(self):
        self._salary = 50000

e = Employee()
print(e._salary)

50000

In [5]:
class Doctor:
    def __init__(self):
        self._license_number = "MED12345"

d = Doctor()
print(d._license_number)

MED12345

In [8]:
class Employee:
    def __init__(self):
        self._salary = 65000

e = Employee()

In [9]:
e._salary

65000

In [10]:
class Laptop:
    def __init__(self):
        self.__serial_number = "SN-987654"

l = Laptop()
l.__serial_number

AttributeError: 'Laptop' object has no attribute '__serial_number'

In [11]:
class BankAccount:
    def __init__(self, holder_name, balance, pin):
        self._holder_name = holder_name          # protected
        self.__balance = balance                 # private
        self.__pin = pin                         # private

    def deposit(self, amount):
        if amount > 0:
            self.__balance += amount
    def withdraw(self, amount, pin):
        if pin == self.__pin and amount <= self.__balance:
            self.__balance -= amount
            return amount
        else:
            return "Invalid pin or insufficient funds"

    def get_balance(self, pin):
        return self.__balance if pin == self.__pin else "Access Denied"

In [12]:
object1=BankAccount("Student1",5000,1000)
object1._holder_name

'Student1'

In [13]:
object1.get_balance(1000)

5000

In [14]:
object1.deposit(300)

In [15]:
object1.get_balance(1000)

5300

In [17]:
class Student:
    def __init__(self, name):
        self._name = name                     # protected
        self.__grades = {}                    # private dictionary

    def add_grade(self, subject, grade):
        self.__grades[subject] = grade

    def _average(self):                       # protected method
        return sum(self.__grades.values()) / len(self.__grades)

    def get_report(self):
        return f"Student: {self._name}, Average: {self._average()}"

object1=Student("Student1")
object1.add_grade("science",90)
object1.add_grade("maths",80)
object1.add_grade("computers",80)
object1.get_report()

'Student: Student1, Average: 83.33333333333333'

In [19]:
class Student:
    def __init__(self, name):
        self._name = name                     # protected
        self._grades = {}                    # private dictionary

    def add_grade(self, subject, grade):
        self._grades[subject] = grade

    def _average(self):                       # protected method
        return sum(self._grades.values()) / len(self._grades)

    def get_report(self):
        return f"Student: {self._name}, Average: {self._average()}"

object1=Student("Student1")
object1=Student("Student2")
object1.add_grade("science",80)
object1.add_grade("maths",80)
object1.add_grade("computers",80)
object1.add_grade("science1",40)
object1.add_grade("maths1",20)
object1.add_grade("computers1",80)
object1.get_report()
object1._grades

{'science': 80,
 'maths': 80,
 'computers': 80,
 'science1': 40,
 'maths1': 20,
 'computers1': 80}

In [20]:
object1=Payment()

NameError: name 'Payment' is not defined

In [21]:
from abc import ABC, abstractmethod

class Payment(ABC):
    @abstractmethod
    def pay(self, amount,interest):
        pass

class CreditCard(Payment):
    def pay(self, amount):
        print(f"Paid ₹{amount} using Credit Card")

class UPI(Payment):
    def pay(self, amount):
        print(f"Paid ₹{amount} using UPI")

In [22]:
p1 = CreditCard()
p1.pay(6000)

p2 = UPI()
p2.pay(5000)

Paid ₹6000 using Credit Card
Paid ₹5000 using UPI

In [23]:
try :
  print(2+"3")
except:
  print("test")

test

In [24]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")

Cannot divide by zero!

In [25]:
try:
    with open("/content/sample1.txt", "r") as f:
        content = f.read()
        print(content)
except FileNotFoundError:
    print("File not found.")

File not found.

In [26]:
try:
    number = float("abc")
    print(number)
except ValueError:
    print("Invalid number format.")

Invalid number format.

In [29]:
try:
    items = [1, 2, 3]
    print(items[1])
except IndexError:
    print("Index out of range.")

2

In [30]:
try:
    items = [1, 2, 3]
    print(items[5])
except IndexError:
    print("Index out of range.")

Index out of range.

In [32]:
try:
    x = 5
    x.append(2)
except AttributeError:
    print("Invalid attribute for the object.")

Invalid attribute for the object.

In [33]:
try:
    value = int("abc")
    result = 10 / 0
except (ValueError, ZeroDivisionError) as e:
    print("Caught an error:", e)

Caught an error: invalid literal for int() with base 10: 'abc'

In [34]:
try:
    number = int("100")
except ValueError:
    print("Conversion failed.")
else:
    print("Conversion successful:", number)

Conversion successful: 100

In [35]:
try:
    f = open("sample.txt", "r")
    data = f.read()
except FileNotFoundError:
    print("File not found.")
finally:
    print("Execution complete.")

File not found.
Execution complete.

In [36]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Divide by zero error")
else:
    print("Result:", result)
finally:
    print("Done with division")

Divide by zero error
Done with division

In [37]:
try:
    lst = [1, 2]
    print(lst[5])
except IndexError:
    print("Index out of range")
else:
    print("List item accessed")
finally:
    print("List operation done")

Index out of range
List operation done

In [38]:
try:
    data = [[1, 2], [3, 4], "invalid"]
    for sublist in data:
        for item in sublist:
            print(item * 2)
except TypeError as e:
    print("Type Error:", e)
else:
    print("Nested list processed")
finally:
    print("List handling complete")

2
4
6
8
ii
nn
vv
aa
ll
ii
dd
Nested list processed
List handling complete

In [39]:
try:
    a = {1, 2, 3}
    b = "abc"
    result = a | b  # Unsupported operand types
except TypeError as e:
    print("Set union error:", e)
else:
    print("Set union successful")
finally:
    print("Set operation done")

Set union error: unsupported operand type(s) for |: 'set' and 'str'
Set operation done

In [40]:
try:
    a = {1, 2, 3}
    b = "abc"
    result = a | b  # Unsupported operand types
except TypeError as e:
    print("Set union error:", e)
else:
    print("Set union successful")
finally:
    print("Set operation done")

Set union error: unsupported operand type(s) for |: 'set' and 'str'
Set operation done